body {
    background: url(/img/regist.jpg) 0 0/100% 100% no-repeat;
}
.form { 
    display: flex;
    justify-content: flex-end;
    white-space: pre-line;
    font-size: 50px;
}
.form_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    max-width: 800px;
    width: 100%;
    max-height: 800px; ;
}
form h4{
    text-shadow: 5px 5px 5px #057405;
    text-transform: uppercase;
    font-weight: 500;
}
.form_style {
    padding: 20px 20px;
    color: #fffcf4;
    font-size: 18px;
    max-width: 568px;
    height: 90px;
    background-color: #155e06;
    margin-bottom: 20px;
 }
.form_style_t {
    font-family: 'Poppins' ;
    padding: 20px 20px;
    max-width: 568px;
    max-height: 138px;
    background-color: #8d0505;
    margin-bottom: 35px;
    color: #fffcf4;
    font-size: 18px;
 }
input, button {
     border: none;
}
.form_button {
    max-width: 220px;
    height: 68px;
    background-color: #12c6f4;
    color: #010100;
    font-size: 24px;
    transition: .5s ease;
 }
 .form_button:hover {
     background-color: cadetblue;
 } 
