@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url(/menu.css);

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
.wrapper { 
    max-width: 1600px;
    margin: 0 auto;
    /* position: relative; */
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: #031629;
    display: grid;
    grid-template: minmax(100px, auto) 1fr minmax(70px, auto) / 1fr;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

/* HEADER */

.header { 
    align-items: center;
    grid-area: header;
    padding: 15px;
    display: grid;
    grid-template: 1fr / 1fr minmax(auto, 600px) minmax(auto, 1000px) 1fr;
}

.header_logo {
    background: url(/img/gerb-italy.jpg)0 0 / 100% 100% no-repeat ;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    grid-column: 1 / 2;
    transition: 1s ease;
    opacity: .5;
 }
 .header_logo:hover {
    opacity: 1;
 }
.header h1 {
    text-transform: uppercase;
    letter-spacing: 20px;
    font-weight: 500;
}
.header_menu {
    grid-column: 3 / 4;
 }
.header_list {
    display: grid;
    grid-auto-flow: column;
    justify-items: end;
 }
 @media(max-width:992px) {
     .header_list {
         display: none;
     }
 }
.header_list li {
    position: relative;
 }
.header_link {
    font-size: 25px;
    font-weight: 900;
 }

/* MAIN */

.main { 
    background: url(/img/Sunrises_and_sunsets_Cathedral_Italy_Piazza_del_601284_1280x903.jpg) 0 0/100% 100% no-repeat;
    background-size: cover;
    grid-area: main;
    display: grid;
    grid-template: 1fr / 1fr minmax(200px, auto) minmax(auto, 1400px) 1fr;
}
@media(max-width:992px) {
    .main {
        display:block;
    } 
}
.sidebar { 
    grid-column: 2 / 3;
    padding: 10px 20px;
}
@media(max-width:992px) {
    .sidebar {
        display:none;
    } 
}
.sidebar li {
    font-size: 24px;
    margin: 0px 0px 15px 0px;
}
.sidebar_link {
    color: #090218;
    font-size: 20px;
    text-transform: uppercase;
 }
.content { 
    grid-column: 3 / 4;
    padding: 0px 0px 0px 20px;
}
@media(max-width:992px) {
    .content {
        padding: 0px 10px 0px 10px;
    } 
}
.content_title {
    position: relative;
    margin: 10px 0px 30px 0px;
    text-transform: uppercase;
    opacity: .8;
 }
 @media(max-width:992px) {
    .content_title {
        position: relative;
        display: flex;
        justify-content: flex-end;
    } 
}
.content_gallery {
    margin: 0px 0px 30px 0px;
 }
.gallery_title { }
.gallery_items {
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.gallery_item {
    position: relative;
    padding: 0px 0px 85% 0px;
 }
.gallery_item img {
    border-radius: 2%;
    transition: 1s ease;
    opacity: .4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery_item :hover {
    overflow: hidden;
    opacity: 1 ;
 }
.gallery_item_big { 
    grid-column: span 2;
    grid-row: span 2;
}
@media(max-width:992px) {
    .gallery_item_big {
        grid-column: span 1;
        grid-row: span 1;
    }
}
@media(max-width:635px) {
    .gallery_item img  {
        opacity: 1;
    } 
}

.content_products {
    padding: 5px 5px;
 }
.products_title { 
    text-transform: uppercase;
    font-size: 30px;
}
@media(max-width:992px) {
    .products_title {
    color: white;
    }
}
.products_items {
    display: grid;
    column-gap: 10px;
    row-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 }
.products_item { 
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr minmax(40px, auto) / 1fr;
    transition: 1s ease;
}
.products_item:hover {
    transform: scale(1.1);
    z-index: 1;
}
.products_image {
    position: relative;
    padding: 0px 0px 90% 0px;
    margin: 0px 0px 20px 0px;
}
.products_image img { 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.products_name {
    font-size: 24px;
    color: #fff;
    line-height: 30px;
    margin-bottom: 20px;
 }
.products_button {
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #005bb1;
    padding: 0px 20px;
    line-height: 40px;
    justify-self: start;
}

/* FOOTER */

.footer {
    color: #fff;
    align-items: center;
    grid-area: footer;
    background-color: #250341;
    display: grid;
    padding: 15px;
    grid-template: 1fr / 1fr minmax(auto, 600px) minmax(auto, 1000px) 1fr;
 }
.footer_copy { 
    border: ;
    grid-column: 2 / 3;
}
.footer_text { 
    text-align: right;
    grid-column: 3 / 4;
}

