/* #987698    Очень крутой цвет*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.header {
    background: url(/img/Photo@1.5x.png) 0 0 / 100% 100% no-repeat ;
    width: 100%;
    height: 1057px; 
    position: relative;
    }
.logo {
    display: inline-flex;
    margin-left: 220px;
    width: 140px;
    height: 74px;
    background-color: #fa5c65;
    border-radius: 0 0 10px 10px;
     }
.text_logo {
    color: #ffffff;
    font-family: 'Domine', serif;
    text-align: center;
    font-size: 20px;
    line-height: 65px;
    padding-left: 14px;
    padding-right: 14px;
}
.menu_head { 
    width: auto;
    position: absolute;
    text-transform: uppercase;
    font-family: 'Montserrat';
    display: inline-flex;
    list-style-type: none;
    margin-left: 347px;
}
.menu_li {
    color: #263742;
    margin-left: 70px;
    text-decoration: none;
}
.slogan {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    margin-left: 250px;
    margin-top: 220px;
    font-family: 'Montserrat', sans-serif;
    color: #314a5b;
    white-space: pre-line;
}
.slogan_art {
    margin-top: -50px;
    font-size: 21px;
    font-weight: 200;
    white-space: nowrap;
    font-family: 'Montserrat';
    text-transform: none;
}

.slogan_button {
    font-weight: 200;
    text-decoration: none;
    width: 171px;
    height: 64px;
    background-color: #fa5c65;
    border-radius: 5px;
    color: #ffffff;
 }
.block_info { }
.block_iframe { }
.block_end { }
.div_foot { }
.div_fot_end { }